#carouselExampleCaptions{
    
    height: 500px;
    margin: 0;
    padding: 0;
    top:0;
}
.imagem
{
    width: 98.7vw;
    height: 45vw;
  
}
   
   

/* .item{
    height:480px;
    width: 1000px;
} */

.carousel-item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  /* Para garantir que os cliques passem para a imagem */
    
}
.left-align {
    text-align: left;
  }
  .carousel-caption h5 {
    margin-bottom: 10px; /* Ajuste o espaço entre o título e o parágrafo */
  }
  .carousel-caption p {
    display: block; /* Garante que o parágrafo fique em uma nova linha */
  }